@model XL.CHC.Web.Models.SpecificationViewModel
@{
    ViewBag.Title = "化学品详细";
    ViewBag.CurrentPage = "SpecificationManage_Tag";
}
<div class="row">
    <div class="col-md-12">
        @*化学品基本信息*@
        <div class="portlet box blue" id="form_wizard_1">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i> 化学品基本信息
                </div>
                <div class="actions">
                    <a href="/Tag/Index" class="btn blue btn-sm">
                        <i class="fa fa-mail-reply"></i> 返回
                    </a>
                </div>
            </div>
            <div class="portlet-body form" id="sp_form1">

                <!-- BEGIN FORM-->
                @using (Ajax.BeginForm("BaseProductInfo", "Specification", new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "sp_form1", OnSuccess = "OnSuccess_form1", OnFailure = "OnFailure_form1" }, new { @class = "form-horizontal", @id = "form1" }))
                {
                    <div class="form-body">
                        @Html.AntiForgeryToken()
                        <input id="sid1" name="Id" type="hidden" value="@Model.Id" />
                        <div class="form-group">
                            <label class="col-md-3 control-label">商品名:</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.Product_Name, new { @class = "form-control" })
                                <span class="help-block font-red">
                                    @Html.ValidationMessageFor(x => x.Product_Name)
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">商品名(中文):</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.CN_Name, new { @class = "form-control" })
                                <span class="help-block font-red">
                                    @Html.ValidationMessageFor(x => x.CN_Name)
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">用途:</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.Purpose, new { @class = "form-control", @rows = "4" })
                                <span class="help-block font-red">
                                    @Html.ValidationMessageFor(x => x.Purpose)
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">状态:</label>
                            <div class="col-md-4">
                                @Html.DropDownListFor(model => Model.Product_State, Model.ProductStateItems, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">有害化学品:</label>
                            <div class="col-md-4">
                                @Html.DropDownListFor(model => Model.UnHazardousChemical, Model.UnHazardousChemicalItems, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">UN编号:</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.Product_UN, new { @class = "form-control" })
                                <span class="help-block font-red">
                                    @Html.ValidationMessageFor(x => x.Product_UN)
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">CAS号:</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.CASCode, new { @class = "form-control" })
                                <span class="help-block font-red">
                                    @Html.ValidationMessageFor(x => x.CASCode)
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">危害:</label>
                            <div class="col-md-4">
                                @Html.TextAreaFor(model => model.Product_HazardousDescription, new { @class = "form-control", @rows = "4" })
                                <span class="help-block font-red">
                                    @Html.ValidationMessageFor(x => x.Product_HazardousDescription)
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">供应商名称:</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.Supplier_Name, new { @class = "form-control" })
                                <span class="help-block font-red">
                                    @Html.ValidationMessageFor(x => x.Supplier_Name)
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">供应商地址:</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.Supplier_Address, new { @class = "form-control" })
                                <span class="help-block font-red">
                                    @Html.ValidationMessageFor(x => x.Supplier_Address)
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">供应商电话:</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.Supplier_Phone, new { @class = "form-control" })
                                <span class="help-block font-red">
                                    @Html.ValidationMessageFor(x => x.Supplier_Phone)
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">二十四小时应急电话:</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.Supplier_UrgencyCall, new { @class = "form-control" })
                                <span class="help-block font-red">
                                    @Html.ValidationMessageFor(x => x.Supplier_UrgencyCall)
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-3 col-md-9">
                            <a href="@Url.Action("Index", "Tag" )" class="btn blue">返回</a>
                        </div>
                    </div>
                }
                <!-- END FORM-->
            </div>
        </div>

        <div class="portlet box blue" id="form_wizard_5">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>  SDS
                </div>
                <div class="actions">
                </div>
            </div>

            <div class="portlet-body form" id="sp_form5">
                <div class="form-horizontal">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-3 control-label"> SDS:</label>
                            <div class="col-md-4">
                                @if (string.IsNullOrEmpty(Model.AttachmentPath))
                                {
                                    <a href="javascript:;" class="btn blue">
                                        无
                                    </a>
                                }
                                else
                                {
                                    <a href="@Model.AttachmentPath" class="btn blue"  target="_blank">
                                        <i class="fa fa-gift">下载附件</i>
                                    </a>
                                }

                            </div>
                        </div>
                    </div>
                    <div class="form-actions fluid">

                    </div>
                </div>
            </div>
        </div>

        @*GHS*@
        <div class="portlet box blue" id="form_wizard_2">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i> GHS
                </div>
            </div>
            <div class="portlet-body form" id="sp_form2">
                <!-- BEGIN FORM-->
                @using (Ajax.BeginForm("UpdateGHS", "Specification", new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "sp_form2", OnSuccess = "OnSuccess_form2", OnFailure = "OnFailure_form2" }, new { @class = "form-horizontal", id = "form2" }))
                {
                    <div class="form-body">
                        @Html.AntiForgeryToken()
                        <input id="sid2" name="Id" type="hidden" value="@Model.Id" />
                        <div class="form-group">
                            <label class="col-md-3 control-label">危险性分类:</label>
                            <div class="col-md-4">
                                @Html.TextAreaFor(model => model.GHS_Category, new { @class = "form-control", @rows = "4" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">警告词:</label>
                            <div class="col-md-4">
                                @Html.DropDownListFor(model => Model.GHS_Warning, Model.ProductWarningSignItems, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">危险说明:</label>
                            <div class="col-md-4">
                                @Html.TextAreaFor(model => Model.GHS_HazardouDes_String, new { @class = "form-control", @rows = "4" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">补充(选填):</label>
                            <div class="col-md-4">
                                @Html.TextAreaFor(model => model.GHS_HazardouDes_Append, new { @class = "form-control", @rows = "4" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">防范说明(预防):</label>
                            <div class="col-md-4">
                                 @Html.TextAreaFor(model => Model.GHS_DefenceDes_String, new { @class = "form-control", @rows = "4" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">补充(选填):</label>
                            <div class="col-md-4">
                                @Html.TextAreaFor(model => Model.GHS_DefenceDes_Append, new { @class = "form-control", @rows = "4" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">防范说明(响应):</label>
                            <div class="col-md-4">
                                @Html.TextAreaFor(model => Model.GHS_DealDES_String, new { @class = "form-control", @rows = "4" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">补充(选填):</label>
                            <div class="col-md-4">
                                @Html.TextAreaFor(model => model.GHS_DealDES_Append, new { @class = "form-control", @rows = "4" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">防范说明(储存):</label>
                            <div class="col-md-4">
                                @Html.TextAreaFor(model => Model.GHS_StoreDes_String, new { @class = "form-control", @rows = "4" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">补充(选填):</label>
                            <div class="col-md-4">
                                @Html.TextAreaFor(model => model.GHS_StoreDes_Append, new { @class = "form-control", @rows = "4" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">警示标识:</label>
                            <div class="col-md-4">
                                <div class="checkbox-list">
                                    <label>
                                        @if (Model.IsExplosive)
                                        {
                                            <img src="~/Content/Images/Explosive.png" width="50" height="50" /> <span>爆炸物</span>
                                        }
                                    </label>
                                    <label>
                                        @if (Model.IsFlammable)
                                        {
                                            <img src="~/Content/Images/Flammable.png" width="50" height="50" /><span>易燃物</span> 
                                        }
                                    </label>
                                    <label>
                                        @if (Model.IsCorrosive)
                                        {
                                            <img src="~/Content/Images/Corrosive.png" width="50" height="50" /><span>腐蚀</span> 
                                        }
                                    </label>
                                    <label>
                                        @if (Model.IsHealthHazard)
                                        {
                                            <img src="~/Content/Images/HealthHazard.png" width="50" height="50" /><span>长期危害健康</span> 
                                        } 
                                    </label>
                                    <label>
                                        @if (Model.IsToxic)
                                        {
                                            <img src="~/Content/Images/Toxic.png" width="50" height="50" /><span>剧毒</span> 
                                        }
                                    </label>
                                    <label>
                                        @if (Model.IsOxidizing)
                                        {
                                            <img src="~/Content/Images/Oxidizing.png" width="50" height="50" /><span>氧化剂</span> 
                                        }
                                    </label>
                                    <label>
                                        @if (Model.IsGasUnderPressure)
                                        {
                                            <img src="~/Content/Images/GasUnderPressure.png" width="50" height="50" /><span>高压气体</span> 
                                        }
                                    </label>
                                    <label>
                                        @if (Model.IsIrritant)
                                        {
                                            <img src="~/Content/Images/Irritant.png" width="50" height="50" /><span>刺激性</span> 
                                        }
                                    </label>
                                    
                                        @if (Model.IsDangerousToEnvironment)
                                        {
                                            <img src="~/Content/Images/DangerousToEnvironment.png" width="50" height="50" /><label> 环境危害</label>
                                        }


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-3 col-md-9">
                            <a href="@Url.Action("Index", "Tag" )" class="btn blue">返回</a>
                        </div>
                    </div>
                }
                <!-- END FORM-->
            </div>
        </div>

        @*危险组分*@
        <div class="portlet box blue" id="form_wizard_2">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i> 危险组分
                </div>
                <div class="actions">
                </div>
            </div>
            <div class="portlet-body light-grey">
                <div class="table-scrollable">
                    <table id="tableProject" class="table table-striped table-bordered table-hover" data-height="200">
                        <thead>
                            <tr>
                                <th style="min-width:150px">
                                    危害组分名称
                                </th>
                                <th style="min-width:80px;">
                                    含量
                                </th>
                                <th style="min-width:80px;">
                                    CAS号
                                </th>
                                <th style="min-width:80px;">
                                    GHS有害分类代码
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Product_HazardousSubstances)
                            {
                                <tr>
                                    <td>
                                        @item.HS_Name
                                    </td>
                                    <td>
                                        @item.HS_MinPercent %- @item.HS_MaxPercent %
                                    </td>
                                    <td>@item.HS_CASCode</td>
                                    <td>
                                        @foreach (var row in item.HS_HStatements)
                                        {
                                            <span>@row.Code</span>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

        <div class="portlet box blue" id="form_wizard_3">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i> 其他信息
                </div>
            </div>
            <div class="portlet-body form" id="sp_form3">
                @using (Ajax.BeginForm("Other", "Specification", new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "sp_form3", OnSuccess = "OnSuccess_form3", OnFailure = "OnFailure_form3" }, new { @class = "form-horizontal", @id = "form3" }))
                {
                    <div class="form-body">
                        @Html.AntiForgeryToken()
                        <input id="sid3" name="Id" type="hidden" value="@Model.Id" />
                        <div class="form-group">
                            <label class="col-md-3 control-label">眼面部:</label>
                            <div class="col-md-4">
                                @Html.TextAreaFor(model => model.Product_Protection_FaceAndEye, new { @class = "form-control", @rows = "4" })
                                <span class="help-block font-red">
                                    @Html.ValidationMessageFor(x => x.Product_Protection_FaceAndEye)
                                </span>
                            </div>
                            <img src="~/Content/Images/Product_Protection_FaceAndEye.png" class="img-circle" width="50" height="50" />
                            @if (Model.IsProtection_FaceAndEye)
                            {
                                @Html.CheckBoxFor(x => x.IsProtection_FaceAndEye, new { @checked = true });
                            }
                            else
                            {
                                @Html.CheckBoxFor(x => x.IsProtection_FaceAndEye);
                            }
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">手部:</label>
                            <div class="col-md-4">
                                @Html.TextAreaFor(model => model.Product_Protection_Hand, new { @class = "form-control", @rows = "4" })
                                <span class="help-block font-red">
                                    @Html.ValidationMessageFor(x => x.Product_Protection_Hand)
                                </span>
                            </div>
                            <img src="~/Content/Images/Product_Protection_Hand.png" class="img-circle" width="50" height="50" />
                            @if (Model.IsProtection_Hand)
                            {
                                @Html.CheckBoxFor(x => x.IsProtection_Hand, new { @checked = true });
                            }
                            else
                            {
                                @Html.CheckBoxFor(x => x.IsProtection_Hand);
                            }
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">呼吸保护:</label>
                            <div class="col-md-4">
                                @Html.TextAreaFor(model => model.Product_Protection_Breathing, new { @class = "form-control", @rows = "4" })
                                <span class="help-block font-red">
                                    @Html.ValidationMessageFor(x => x.Product_Protection_Breathing)
                                </span>
                            </div>
                            <img src="~/Content/Images/Product_Protection_Breathing.png" class="img-circle" width="50" height="50" />
                            @if (Model.IsProtection_Breathing)
                            {
                                @Html.CheckBoxFor(x => x.IsProtection_Breathing, new { @checked = true });
                            }
                            else
                            {
                                @Html.CheckBoxFor(x => x.IsProtection_Breathing);
                            }
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">足部保护:</label>
                            <div class="col-md-4">
                                @Html.TextAreaFor(model => model.Product_Protection_Foot, new { @class = "form-control", @rows = "4" })
                                <span class="help-block font-red">
                                    @Html.ValidationMessageFor(x => x.Product_Protection_Foot)
                                </span>
                            </div>
                            <img src="~/Content/Images/Product_Protection_Foot.png" class="img-circle" width="50" height="50" />
                            @if (Model.IsProtection_Foot)
                            {
                                @Html.CheckBoxFor(x => x.IsProtection_Foot, new { @checked = true });
                            }
                            else
                            {
                                @Html.CheckBoxFor(x => x.IsProtection_Foot);
                            }
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">身体保护:</label>
                            <div class="col-md-4">
                                @Html.TextAreaFor(model => model.Product_Protection_Body, new { @class = "form-control", @rows = "4" })
                                <span class="help-block font-red">
                                    @Html.ValidationMessageFor(x => x.Product_Protection_Body)
                                </span>
                            </div>
                            <img src="~/Content/Images/Product_Protection_Body.png" class="img-circle" width="50" height="50" />
                            @if (Model.IsProtection_Body)
                            {
                                @Html.CheckBoxFor(x => x.IsProtection_Body, new { @checked = true });
                            }
                            else
                            {
                                @Html.CheckBoxFor(x => x.IsProtection_Body);
                            }
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">其他防护:</label>
                            <div class="col-md-4">
                                @Html.TextAreaFor(model => model.Product_Protection_Other, new { @class = "form-control", @rows = "4" })
                                <span class="help-block font-red">
                                    @Html.ValidationMessageFor(x => x.Product_Protection_Other)
                                </span>
                            </div>
                            <img src="~/Content/Images/Product_Protection_Other.png" class="img-circle" width="50" height="50" />
                            @if (Model.IsProtection_Other)
                            {
                                @Html.CheckBoxFor(x => x.IsProtection_Other, new { @checked = true });
                            }
                            else
                            {
                                @Html.CheckBoxFor(x => x.IsProtection_Other);
                            }
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">眼面部沾染:</label>
                            <div class="col-md-4">
                                @Html.TextAreaFor(model => model.Product_ET_FaceAndEye, new { @class = "form-control", @rows = "4" })
                                <span class="help-block font-red">
                                    @Html.ValidationMessageFor(x => x.Product_ET_FaceAndEye)
                                </span>
                            </div>
                            <img src="~/Content/Images/Product_ET_FaceAndEye.png" class="img-responsive" width="50" height="50" />
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">皮肤手部沾染:</label>
                            <div class="col-md-4">
                                @Html.TextAreaFor(model => model.Product_ET_SkinAndHand, new { @class = "form-control", @rows = "4" })
                                <span class="help-block font-red">
                                    @Html.ValidationMessageFor(x => x.Product_ET_SkinAndHand)
                                </span>
                            </div>
                            <img src="~/Content/Images/Product_ET_SkinAndHand.png" class="img-responsive" width="50" height="50" />
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">吸入:</label>
                            <div class="col-md-4">
                                @Html.TextAreaFor(model => model.Product_ET_Inhalation, new { @class = "form-control", @rows = "4" })
                                <span class="help-block font-red">
                                    @Html.ValidationMessageFor(x => x.Product_ET_Inhalation)
                                </span>
                            </div>
                            <img src="~/Content/Images/Product_ET_Inhalation.png" class="img-responsive" width="50" height="50" />
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">食入:</label>
                            <div class="col-md-4">
                                @Html.TextAreaFor(model => model.Product_ET_Ingestion, new { @class = "form-control", @rows = "4" })
                                <span class="help-block font-red">
                                    @Html.ValidationMessageFor(x => x.Product_ET_Ingestion)
                                </span>
                            </div>
                            <img src="~/Content/Images/Product_ET_Ingestion.png" class="img-responsive" width="50" height="50" />
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">应急消防:</label>
                            <div class="col-md-4">
                                @Html.TextAreaFor(model => model.Product_FireProtection, new { @class = "form-control", @rows = "4" })
                                <span class="help-block font-red">
                                    @Html.ValidationMessageFor(x => x.Product_FireProtection)
                                </span>
                            </div>
                            <img src="~/Content/Images/Product_FireProtection.png" class="img-responsive" width="50" height="50" />
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">泄漏处置:</label>
                            <div class="col-md-4">
                                @Html.TextAreaFor(model => model.Product_LeakageHanding, new { @class = "form-control", @rows = "4" })
                                <span class="help-block font-red">
                                    @Html.ValidationMessageFor(x => x.Product_LeakageHanding)
                                </span>
                            </div>
                            <img src="~/Content/Images/Product_LeakageHanding.png" class="img-responsive" width="50" height="50" />
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">作业安全:</label>
                            <div class="col-md-4">
                                @Html.TextAreaFor(model => model.Product_OperationSecure, new { @class = "form-control", @rows = "4" })
                                <span class="help-block font-red">
                                    @Html.ValidationMessageFor(x => x.Product_OperationSecure)
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">储存要求:</label>
                            <div class="col-md-4">
                                @Html.TextAreaFor(model => model.Product_StoreRequirement, new { @class = "form-control", @rows = "4" })
                                <span class="help-block font-red">
                                    @Html.ValidationMessageFor(x => x.Product_StoreRequirement)
                                </span>
                            </div>
                            <img src="~/Content/Images/Product_StoreRequirement.png" class="img-responsive" width="50" height="50" />
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">废弃物处置:</label>
                            <div class="col-md-4">
                                @Html.TextAreaFor(model => model.Product_WasteHanding, new { @class = "form-control", @rows = "4" })
                                <span class="help-block font-red">
                                    @Html.ValidationMessageFor(x => x.Product_WasteHanding)
                                </span>
                            </div>
                            <img src="~/Content/Images/Product_WasteHanding.png" class="img-responsive" width="50" height="50" />
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">运输信息(当地法规):</label>
                            <div class="col-md-4">
                                @Html.TextAreaFor(model => model.Policie_Local, new { @class = "form-control", @rows = "4" })
                                <span class="help-block font-red">
                                    @Html.ValidationMessageFor(x => x.Policie_Local)
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">运输信息(联合国法规):</label>
                            <div class="col-md-4">
                                @Html.TextAreaFor(model => model.Policie_UN, new { @class = "form-control", @rows = "4" })
                                <span class="help-block font-red">
                                    @Html.ValidationMessageFor(x => x.Policie_UN)
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">备注:</label>
                            <div class="col-md-4">
                                @Html.TextAreaFor(model => model.Product_Note, new { @class = "form-control", @rows = "4" })
                                <span class="help-block font-red">
                                    @Html.ValidationMessageFor(x => x.Product_Note)
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-3 col-md-9">
                            <a href="@Url.Action("Index", "Tag" )" class="btn blue">返回</a>
                        </div>
                    </div>
                }
            </div>

        </div>

        <div id="form_wizard_4" class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i> 理化性质
                </div>
            </div>
            <div class="portlet-body form" id="sp_form4">
                @using (Ajax.BeginForm("PhysicoChemical", "Specification", new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "sp_form4", OnSuccess = "OnSuccess_form4", OnFailure = "OnFailure_form4" }, new { @class = "form-horizontal", @id = "form4" }))
                {
                    <div class="form-body">
                        @Html.AntiForgeryToken()
                        <input id="sid4" name="Id" type="hidden" value="@Model.Id" />
                        @*<div class="form-group">
                            <label class="col-md-3 control-label">暴露限值(固体):</label>
                            <div class="col-md-4">
                                <div class="col-md-4 input-group">
                                    @Html.TextBoxFor(model => model.ExposedLimit_Solid, new { @class = "form-control", @rows = "4" })
                                    <span class="input-group-addon">mg/m3</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">暴露限值(蒸汽/气体):</label>
                            <div class="col-md-4">
                                <div class="col-md-4 input-group">
                                    @Html.TextBoxFor(model => model.ExposedLimit_Gas, new { @class = "form-control", @rows = "4" })
                                    <span class="input-group-addon">mg/m3</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">物理状态:</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.PhysicalState, new { @class = "form-control", @rows = "4" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">外观/气味:</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.AppearanceAndSmell, new { @class = "form-control", @rows = "4" })
                            </div>
                        </div>*@
                        <div class="form-group form-inline">
                            <label class="col-md-3 control-label">沸点(液体):</label>
                            <div class="col-md-4">
                                <div class="col-md-4 input-group">
                                    @Html.TextBoxFor(model => model.BoilingPoint_Liquid_C, new { @class = "form-control", @rows = "4" })
                                    <span class="input-group-addon">℃</span>
                                </div>
                                &nbsp;&nbsp;&nbsp;
                                ~
                                &nbsp;&nbsp;&nbsp;
                                <div class="col-md-4 input-group">
                                    @Html.TextBoxFor(model => model.BoilingPoint_Liquid_F, new { @class = "form-control", @rows = "4" })
                                    <span class="input-group-addon">℃</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group form-inline">
                            <label class="col-md-3 control-label">闪点:</label>
                            <div class="col-md-4">
                                <div class="col-md-4 input-group">
                                    @Html.TextBoxFor(model => model.FlashingPoint_C, new { @class = "form-control", @rows = "4" })
                                    <span class="input-group-addon">℃</span>
                                </div>
                                &nbsp;&nbsp;&nbsp;
                                ~
                                &nbsp;&nbsp;&nbsp;
                                <div class="col-md-4 input-group">
                                    @Html.TextBoxFor(model => model.FlashingPoint_F, new { @class = "form-control", @rows = "4" })
                                    <span class="input-group-addon">℃</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group form-inline">
                            <label class="col-md-3 control-label">燃烧极限范围:</label>
                            <div class="col-md-4">
                                <div class="col-md-4 input-group">
                                    @Html.TextBoxFor(model => model.BurningLimit_Min, new { @class = "form-control" })
                                    <span class="input-group-addon">%</span>
                                </div>
                                &nbsp;&nbsp;&nbsp;
                                ~
                                &nbsp;&nbsp;&nbsp;
                                <div class="col-md-4 input-group">
                                    @Html.TextBoxFor(model => model.BurningLimit_Max, new { @class = "form-control" })
                                    <span class="input-group-addon">%</span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group form-inline">
                            <label class="col-md-3 control-label">蒸汽压:</label>
                            <div class="col-md-4">
                                <div class="col-md-4 input-group">
                                    @Html.TextBoxFor(model => model.VaporPressure, new { @class = "form-control", style = "min-width:100px" })
                                    <span class="input-group-addon">mmHg</span>
                                </div>
                                &nbsp;&nbsp;&nbsp;
                                ~
                                &nbsp;&nbsp;&nbsp;
                                <div class="col-md-4 input-group">
                                    @Html.TextBoxFor(model => model.VaporPressure_Pa, new { @class = "form-control", style = "min-width:100px" })
                                    <span class="input-group-addon">Pa</span>
                                </div>
                                <span class="help-block font-red">
                                    @Html.ValidationMessageFor(x => x.VaporPressure)
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-3 col-md-9">
                            <div class="col-md-offset-3 col-md-9">
                                <a href="@Url.Action("Index", "Tag" )" class="btn blue">返回</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    jQuery(document).ready(function ()
    {

        $('#GHS_HazardouDes_Array').multiSelect({
            selectableHeader: "<input type='text' class='form-control' autocomplete='off' placeholder='键入搜索条件' >",
            selectionHeader: "<input type='text' class='form-control' autocomplete='off' placeholder='键入搜索条件' >",
            afterInit: funSearchSelect,
            afterSelect: function (values)
            {
                this.qs1.cache();
                this.qs2.cache();
            },
            afterDeselect: function ()
            {
                this.qs1.cache();
                this.qs2.cache();
            }
        });

        $('#GHS_DefenceDes_Array').multiSelect({
            selectableHeader: "<input type='text' class='form-control' autocomplete='off' placeholder='键入搜索条件' >",
            selectionHeader: "<input type='text' class='form-control' autocomplete='off' placeholder='键入搜索条件' >",
            afterInit: funSearchSelect,
            afterSelect: function (values)
            {
                this.qs1.cache();
                this.qs2.cache();
            },
            afterDeselect: function ()
            {
                this.qs1.cache();
                this.qs2.cache();
            }
        });

        $('#GHS_DealDES_Array').multiSelect({
            selectableHeader: "<input type='text' class='form-control' autocomplete='off' placeholder='键入搜索条件' >",
            selectionHeader: "<input type='text' class='form-control' autocomplete='off' placeholder='键入搜索条件' >",
            afterInit: funSearchSelect,
            afterSelect: function (values)
            {
                this.qs1.cache();
                this.qs2.cache();
            },
            afterDeselect: function ()
            {
                this.qs1.cache();
                this.qs2.cache();
            }
        });

        $('#GHS_StoreDes_Array').multiSelect({
            selectableHeader: "<input type='text' class='form-control' autocomplete='off' placeholder='键入搜索条件' >",
            selectionHeader: "<input type='text' class='form-control' autocomplete='off' placeholder='键入搜索条件' >",
            afterInit: funSearchSelect,
            afterSelect: function (values)
            {
                this.qs1.cache();
                this.qs2.cache();
            },
            afterDeselect: function ()
            {
                this.qs1.cache();
                this.qs2.cache();
            }
        });


        $('#HS_HStatement_Str').multiSelect({
            selectableHeader: "<input type='text' class='form-control' autocomplete='off' placeholder='键入搜索条件'>",
            selectionHeader: "<input type='text' class='form-control' autocomplete='off' placeholder='键入搜索条件'>",
            afterInit: funSearchSelect,
            afterSelect: function (values)
            {
                this.qs1.cache();
                this.qs2.cache();
            },
            afterDeselect: function ()
            {
                this.qs1.cache();
                this.qs2.cache();
            }
        });

    });

    var funSearchSelect = function (ms)
    {
        var that = this,
        $selectableSearch = that.$selectableUl.prev(),
        $selectionSearch = that.$selectionUl.prev(),
        selectableSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selectable:not(.ms-selected)',
        selectionSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selection.ms-selected';

        that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
        .on('keydown', function (e)
        {
            if (e.which === 40)
            {
                that.$selectableUl.focus();
                return false;
            }
        });

        that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
        .on('keydown', function (e)
        {
            if (e.which == 40)
            {
                that.$selectionUl.focus();
                return false;
            }
        });
    }


    function RenderHSModal(obj)
    {
        $.get($("#hidUrl1").val(), { name: obj.hid }, function (data)
        {
            $("#AddHazardousSubstances").html(data);

            $("#Specification_Id").val(obj.sid);

            $('#HS_HStatement_Str').multiSelect({
                selectableHeader: "<input type='text' class='form-control' autocomplete='off' placeholder='键入搜索条件'>",
                selectionHeader: "<input type='text' class='form-control' autocomplete='off' placeholder='键入搜索条件'>",
                afterInit: funSearchSelect,
                afterSelect: function (values)
                {
                    this.qs1.cache();
                    this.qs2.cache();
                },
                afterDeselect: function ()
                {
                    this.qs1.cache();
                    this.qs2.cache();
                }
            });

            $("#AddHazardousSubstances").modal('toggle');
        });
    }


    function OnSuccess_form1(data)
    {
        var s = $("#NotificationType1").val();
        if (s == "True")
        {
            var obj = {
                elementName: "note_success_form1",
                content: $("#Notification1").val()
            };
            ShowNotification(obj);
        }
        else
        {
            var obj = {
                elementName: "note_danger_form1",
                content: $("#Notification1").val()
            };
            ShowNotification(obj);
        }

    }

    function OnFailure_form1(data)
    {
        var obj = {
            elementName: "note_danger_form1",
            content: $("#Notification1").val()
        };
        ShowNotification(obj);
    }

    function OnSuccess_form2(data)
    {
        $('#GHS_HazardouDes_Array').multiSelect({
            selectableHeader: "<input type='text' class='form-control' autocomplete='off' placeholder='键入搜索条件' >",
            selectionHeader: "<input type='text' class='form-control' autocomplete='off' placeholder='键入搜索条件' >",
            afterInit: funSearchSelect,
            afterSelect: function (values)
            {
                this.qs1.cache();
                this.qs2.cache();
            },
            afterDeselect: function ()
            {
                this.qs1.cache();
                this.qs2.cache();
            }
        });

        $('#GHS_DefenceDes_Array').multiSelect({
            selectableHeader: "<input type='text' class='form-control' autocomplete='off' placeholder='键入搜索条件' >",
            selectionHeader: "<input type='text' class='form-control' autocomplete='off' placeholder='键入搜索条件' >",
            afterInit: funSearchSelect,
            afterSelect: function (values)
            {
                this.qs1.cache();
                this.qs2.cache();
            },
            afterDeselect: function ()
            {
                this.qs1.cache();
                this.qs2.cache();
            }
        });

        $('#GHS_DealDES_Array').multiSelect({
            selectableHeader: "<input type='text' class='form-control' autocomplete='off' placeholder='键入搜索条件' >",
            selectionHeader: "<input type='text' class='form-control' autocomplete='off' placeholder='键入搜索条件' >",
            afterInit: funSearchSelect,
            afterSelect: function (values)
            {
                this.qs1.cache();
                this.qs2.cache();
            },
            afterDeselect: function ()
            {
                this.qs1.cache();
                this.qs2.cache();
            }
        });

        $('#GHS_StoreDes_Array').multiSelect({
            selectableHeader: "<input type='text' class='form-control' autocomplete='off' placeholder='键入搜索条件' >",
            selectionHeader: "<input type='text' class='form-control' autocomplete='off' placeholder='键入搜索条件' >",
            afterInit: funSearchSelect,
            afterSelect: function (values)
            {
                this.qs1.cache();
                this.qs2.cache();
            },
            afterDeselect: function ()
            {
                this.qs1.cache();
                this.qs2.cache();
            }
        });

        var s = $("#NotificationType2").val();
        if (s == "True")
        {
            var obj = {
                elementName: "note_success_form2",
                content: $("#Notification2").val()
            };
            ShowNotification(obj);
        }
        else
        {
            var obj = {
                elementName: "note_danger_form2",
                content: $("#Notification2").val()
            };
            ShowNotification(obj);
        }

    }

    function OnFailure_form2(data)
    {
        var obj = {
            elementName: "note_danger_form2",
            content: $("#Notification2").val()
        };
        ShowNotification(obj);
    }

    function OnSuccess_form3(data)
    {
        var s = $("#NotificationType3").val();
        if (s == "True")
        {
            var obj = {
                elementName: "note_success_form3",
                content: $("#Notification3").val()
            };
            ShowNotification(obj);
        }
        else
        {
            var obj = {
                elementName: "note_danger_form3",
                content: $("#Notification3").val()
            };
            ShowNotification(obj);
        }
    }

    function OnFailure_form3()
    {
        var obj = {
            elementName: "note_danger_form3",
            content: $("#Notification3").val()
        };
        ShowNotification(obj);
    }

</script>