@model XL.CHC.Web.Models.CompanyEmployeeSearchViewModel
@{
    ViewBag.Title = "员工信息管理";
    ViewBag.CurrentPage = "StaffManage_InfoList";
}
<link href="~/Content/multiselect/ui/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/multiselect/jquery.multiselect.css" rel="stylesheet" />
<script src="~/Content/multiselect/jquery.multiselect.js"></script>
<div class="row">
    <div class="col-md-12 ">
        <div class="portlet  light">
            <div class="portlet-title">
                <div class="caption"><i class="fa fa-2x fa-group font-blue"></i><span class="caption-subject font-blue bold uppercase">员工信息管理</span></div>
                <div class="actions">
                    <a href="/CompanyEmployeeManage/CreateOrUpdate" class="btn blue">
                        <i class="fa fa-plus"></i> 创建新员工
                    </a>
                    <a href="/CompanyEmployeeManage/Import" class="btn blue">
                        <i class="fa fa-file-excel-o"></i> 导入员工
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="full-height-content-body">
                    @using (Html.BeginForm("Index", "CompanyEmployeeManage", FormMethod.Post, new { id = "search_submit_form" }))
                    {
                        @Html.HiddenFor(x => x.PageIndex)
                        <div class="form-body   ">
                            <div class="row margin-bottom-10">
                                <div class="col-md-6 col-lg-4 col-sm-12">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">在岗/离职：</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(x => Model.SelectedPostStatus, Model.PostStatusList, new { @class = "form-control" })


                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4 col-sm-12">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">体检状态：</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(x => Model.SelectedHealthStatus, Model.HealthStatusList, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row margin-bottom-10">
                                <div class="col-md-6 col-lg-4 col-sm-12">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label ">有害因素：</label>
                                        <div class="col-md-8  ">
                                            <select id="selAdverseFactor" multiple="multiple" name="selAdverseFactor" size="8" class="form-control">
                                                @foreach (var item in Model.AdverseFactorList)
                                                {
                                                    <option value="@item">@item</option>
                                                }
                                            </select>
                                        </div>

                                        @Html.HiddenFor(x => x.SelectedAdverseFactor)
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4 col-sm-12">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label ">关键字：</label>
                                        <div class="col-md-8  ">
                                            @Html.TextBoxFor(x => x.KeyWords, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row margin-bottom-10">
                                <div class="col-md-6 col-lg-4 col-sm-12">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label ">车间/部门：</label>
                                        <div class="col-md-8  ">
                                            <select id="selDepartment" multiple="multiple" name="selDepartment" size="8" class="form-control">
                                                @foreach (var item in Model.DepartmentList)
                                                {
                                                    <option value="@item">@item</option>
                                                }
                                            </select>
                                        </div>

                                        @Html.HiddenFor(x => x.SelectedDepartment)
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4 col-sm-12">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label ">工种：</label>
                                        <div class="col-md-8  ">
                                            <select id="selWorkType" multiple="multiple" name="selWorkType" size="8" class="form-control">
                                                @foreach (var item in Model.WorkTypeList)
                                                {
                                                    <option value="@item">@item</option>
                                                }
                                            </select>
                                        </div>

                                        @Html.HiddenFor(x => x.SelectedWorkType)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions margin-top-10 " style="margin-left:20px;">
                            @*<button type="button" class="btn blue"> <i class="fa  fa-refresh"></i>重置</button>*@
                            <button type="submit" class="btn blue" onclick="Search()"><i class="fa fa-search"></i> 查询</button>
                            <button class="btn grey" onclick="Reset()"><i class="fa fa-refresh"></i> 重置</button>

                        </div>
                    }
                    <div class="portlet box blue   margin-top-20 ">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-2x fa-cube"></i>查询结果
                            </div>
                            <div class="actions">
                              
                            </div>
                        </div>
                        <div class="portlet-body light-grey">
                            <div class="table-scrollable">
                                <table id="tableProject" class="table table-striped table-bordered table-hover" data-height="200">
                                    <thead>
                                        <tr>
                                            <th style="min-width:150px">
                                                操作
                                            </th>
                                            <th style="min-width:80px;">
                                                姓名
                                            </th>
                                            <th style="min-width:150px;">
                                                身份证
                                            </th>
                                            <th>
                                                性别
                                            </th>
                                            <th>
                                                婚否
                                            </th>
                                            <th>
                                                出生日期
                                            </th>
                                            <th style="min-width:90px;">
                                                入职时间
                                            </th>
                                            <th style="min-width:90px;">
                                                离职时间
                                            </th>
                                            <th style="min-width:90px;">
                                                上岗时间
                                            </th>
                                            <th style="min-width:90px;">
                                                离岗时间
                                            </th>
                                            <th style="min-width:200px;">
                                                接触有害因素
                                            </th>

                                            <th>
                                                工龄（月）
                                            </th>

                                            <th>
                                                接害工龄（月）
                                            </th>
                                            <th>
                                                工号
                                            </th>
                                            <th>
                                                联系电话
                                            </th>
                                            <th>
                                                车间/部门
                                            </th>
                                            <th style="min-width:120px;">工种</th>
                                            <th style="min-width:200px;">体检类别</th>

                                            <th>体检状态</th>
                                            <th>民工？</th>
                                            <th>防护措施</th>
                                            <th>邮箱</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Employees)
                                        {
                                            <tr>
                                                <td>
                                                    <a class="btn default btn-xs blue" href="/CompanyEmployeeManage/CreateOrUpdate/@item.Id"><i class="fa fa-edit"></i> 修改</a>
                                                    <a class="btn default btn-xs grey" href="javascript:if(confirm('确实要删除吗?'))location='/CompanyEmployeeManage/Delete/@item.Id'"><i class="fa fa-trash-o"></i> 删除</a>
                                                </td>
                                                <td>
                                                    <a href="/Employee/MainPage/@item.EmployeeBaseInfo.Id" class="font-yellow-casablanca">@item.EmployeeBaseInfo.UserName</a>
                                                </td>
                                                <td>
                                                    @item.EmployeeBaseInfo.IDCard
                                                </td>
                                                <td>
                                                    @item.EmployeeBaseInfo.Sex
                                                </td>
                                                <td>
                                                    @item.Married.Name
                                                </td>
                                                <td>
                                                    @XL.Utilities.IDCardHelper.GetBirthDay(item.EmployeeBaseInfo.IDCard).ToString("yyyy-MM")
                                                </td>
                                                <td>
                                                    @(item.EntryDate == null ? string.Empty : Convert.ToDateTime(item.EntryDate).ToString("yyyy-MM-dd"))
                                                </td>
                                                <td>
                                                    @(item.LeaveDate == null ? string.Empty : Convert.ToDateTime(item.LeaveDate).ToString("yyyy-MM-dd"))
                                                </td>
                                                <td>
                                                    @(item.StartPostDate == null ? string.Empty : Convert.ToDateTime(item.StartPostDate).ToString("yyyy-MM-dd"))
                                                </td>
                                                <td>
                                                    @(item.EndPostDate == null ? string.Empty : Convert.ToDateTime(item.EndPostDate).ToString("yyyy-MM-dd"))
                                                </td>
                                                <td>
                                                    @item.AdverseFactor
                                                </td>
                                                <td>
                                                    @item.TotalWorkMonthes
                                                </td>
                                                <td>
                                                    @item.AdverseMonthes
                                                </td>
                                                <td>
                                                    @item.WorkNumber
                                                </td>
                                                <td>
                                                    @item.ContactPhone
                                                </td>
                                                <td>
                                                    @item.Department
                                                </td>
                                                <td>
                                                    @item.WorkType
                                                </td>
                                                <td>
                                                    @item.AdverseFactor
                                                </td>
                                                <td>
                                                    @item.HealthStatus.Name
                                                </td>
                                                <td>
                                                    @item.MigrantWorker.Name
                                                </td>
                                                <td>
                                                    @item.ProtectType
                                                </td>
                                                <td>
                                                    @item.Email
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    @if (Model.Employees.TotalPages > 1)
                                    {
                                        <ul class="pagination">
                                            @if (Model.Employees.PageIndex > 1)
                                            {
                                                <li>
                                                    <a href="javascript:;" onclick="GoPage(1)">
                                                        <i class="fa fa-angle-left"></i>
                                                    </a>
                                                </li>
                                            }
                                            @if (Model.Employees.PageIndex > 8)
                                            {
                                                <li>
                                                    <a href="javascript:;">...</a>
                                                </li>
                                            }
                                            @for (var i = 1; i <= Model.Employees.TotalPages; i++)
                                            {
                                                if (i == Model.Employees.PageIndex)
                                                {
                                                    <li>
                                                        <a href="javascript:;" class="font-red">
                                                            @i
                                                        </a>
                                                    </li>
                                                }
                                                else if (i >= Model.Employees.PageIndex - 7 && i <= Model.Employees.PageIndex + 7)
                                                {
                                                    <li>
                                                        <a href="javascript:;" onclick="GoPage(@i)">
                                                            @i
                                                        </a>
                                                    </li>
                                                }
                                            }
                                            @if (Model.Employees.PageIndex < Model.Employees.TotalPages - 8)
                                            {
                                                <li>
                                                    <a href="javascript:;">...</a>
                                                </li>
                                            }
                                            @if (Model.Employees.PageIndex != Model.Employees.TotalPages)
                                            {
                                                <li>
                                                    <a href="javascript:;" onclick="GoPage(@Model.Employees.TotalPages)">
                                                        >
                                                        <i class="fa fa-angle-right"></i>
                                                    </a>
                                                </li>
                                            }

                                        </ul>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function ()
    {
        $("#selAdverseFactor").multiselect({
            noneSelectedText: "==请选择==",
            checkAllText: "全选",
            uncheckAllText: '全不选',
            selectedList: 10
        });
        var factors = $("#SelectedAdverseFactor").val();
        $("#selAdverseFactor").val(factors.split("&"));
        $("#selAdverseFactor").multiselect("refresh");

        $("#selDepartment").multiselect({
            noneSelectedText: "==请选择==",
            checkAllText: "全选",
            uncheckAllText: '全不选',
            selectedList: 10
        });
        var departments = $("#SelectedDepartment").val();
        $("#selDepartment").val(departments.split("&"));
        $("#selDepartment").multiselect("refresh");

        $("#selWorkType").multiselect({
            noneSelectedText: "==请选择==",
            checkAllText: "全选",
            uncheckAllText: '全不选',
            selectedList: 10
        });
        var workTypes = $("#SelectedWorkType").val();
        $("#selWorkType").val(workTypes.split("&"));
        $("#selWorkType").multiselect("refresh");
    });

    function Search()
    {
        var factors = $("#selAdverseFactor").val();
        if(factors)
        {
            $("#SelectedAdverseFactor").val(factors.join("&"));
        }
        else 
        {
            $("#SelectedAdverseFactor").val("");
        }
        

        var departments = $("#selDepartment").val();
        if(departments)
        {
            $("#SelectedDepartment").val(departments.join("&"));
        }
        else 
        {
            $("#SelectedDepartment").val("");
        }

        var workTypes = $("#selWorkType").val();
        if(workTypes)
        {
            $("#SelectedWorkType").val(workTypes.join("&"));
        }
        else 
        {
            $("#SelectedWorkType").val("");
        }
       

        $("#search_submit_form").submit();
    }

    function Reset()
    {
       
        window.location.href = "/CompanyEmployeeManage/Index";
    }
    function GoPage(pageIndex)
    {
        $("#PageIndex").val(pageIndex);
        Search();
    }
</script>